{% extends 'base.html' %}

{% block content %}
<h2>მანქანის დამატება</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.image_url.label }}
        {{ form.image_url(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.price.label }}
        {{ form.price(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>
{% endblock %}
